<p class="text-center mt-3">User Details</p>
<div class="container mt-5">
  <div class="row g-3">
    <div *ngFor="let user of userLists" class="col-lg-3 col-md-4 col-sm-6">
      <div class="card user-card h-100 shadow-sm">
        <div class="card-body d-flex flex-column">
          <h6 class="card-title text-primary">{{ user.name.firstname }} {{ user.name.lastname }}</h6>
          <p class="card-text mb-1">
            <strong>Email:</strong> {{ user.email }}
          </p>
          <p class="card-text mb-1">
            <strong>Username:</strong> {{ user.username }}
          </p>
          <p class="card-text mb-1">
            <strong>Phone:</strong> {{ user.phone }}
          </p>
          <p class="card-text">
            <strong>Address:</strong> {{ user.address.street }}, {{ user.address.city }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
